<
<ion-view view-title="CarMe" font-color="Blue">
  <ion-content class="background_color">
      <div class="boxed">
        <img src="img/rsz_M5.png">

        <p>For those who live within the Chicagoland area and desire personal automotive consulting services, we are willing to work with you in person one-on-one. In addition to the services provided in the Nationwide Package, we will meet you at your preferred dealership, test drive vehicles until you have chosen your preferred model, assist in determining your trade-in's value (if you have one) and negotiate your deal. All you will need to do is sign and drive away happy.</P>

        <p><b>What is the cost of our Chicagoland Area one-on-one services?</b></p>

        <p>We will charge a $600 flat fee for our one-on-one services per vehicle.</p> 

        <p>For those who only want the Telecommunications Services Package available with nationwide services, we will charge a $300 flat fee for those services</p>

        <p><b>How to contact us for services</b></p>

        <p> If you want to engage CarMe's services, please email us at <a href="mailto:grahamgottlieb4@gmail.com">grahamgottlieb4@gmail.com</a>. Please leave us your contact information and basic automotive needs and we will get back to you within 24 hours.</p>

      </div>
       <div class="legal" text-color="white">
        <p>CarMe can not be held liable for dealership misrepresentation or warranty the purchase of the vehicle. Client is responsible for reading manufacturer warranty details.</p>
      </div>
  </ion-content>
</ion-view>