<ion-view view-title="CarMe" font-color="Blue">
  <ion-content>
      <div class="boxed">
        <p>For those who live outside of the Chicagoland area and desire personal automotive consulting services, we are willing to work with you through telecommunications. What kinds of services can we provide from a distance? Identify individual makes, models and packages based on your needs and wants in your next car. We will help you identify the most important attributes and assist you in narrowing your vehicle choices until a decision has been made. Once your decision has been made, we will assist you in locating your preferred vehicle (if possible) and negotiate with dealer to get you the best offer possible.</P>

       	<p>What is the cost of our services?</p>

       	<p>We will charge a $300 flat fee for our telecommunication services per vehicle.</p> 
      
      </div>
  </ion-content>
</ion-view>



<!--
<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
-->