<ion-view view-title="CarMe">
  <ion-content class="background_color">
      <div class="boxed">
        <img src="img/rsz_X6M.png">

        <p>For those who live outside of the Chicagoland area and desire personal automotive consulting services, we are willing to work with you through telecommunications.</P>

        <p>What kinds of services can we provide from a distance? Identify individual makes, models and packages based on your needs and wants in your next car. We will help you identify the most important attributes and assist you in narrowing your vehicle choices until a decision has been made. Once your decision has been made, we will assist you in locating your preferred vehicle (if possible) and negotiate with the dealer to get you the best offer possible.</P>

       	<p><b>What is the cost of our services?</b></p>

       	<p>We will charge a $300 flat fee for our telecommunication services per vehicle.</p>

        <p><b>How to contact us for services</b></p>

        <p> If you want to engage CarMe's services, please email us at <a href="mailto:grahamgottlieb4@gmail.com">grahamgottlieb4@gmail.com</a>. Please leave us your contact information and basic automotive needs and we will get back to you within 24 hours.</p>
      
      </div>
       <div class="legal" text-color="white">
        <p>CarMe can not be held liable for dealership misrepresentation or warranty the purchase of the vehicle. Client is responsible for reading manufacturer warranty details.</p>
      </div>
  </ion-content>
</ion-view>