<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data

<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view>
-->

<ion-view view-title="CarMe" font-color="Blue">
  <ion-content>
      <div class="boxed">
        <p>For those who live within the Chicagoland area and desire personal automotive consulting services, we are willing to work with you in person one-on-one. In addition to the services provided in the Nationwide Package, we will meet you at your preferred dealership, test drive vehicles until you have chosen your preferred model, assist in determining your trade-in's value (if you have one) and negotiate your deal.All you will need to do is sign and drive away happy.</P>

        <p>What is the cost of our Chicagoland Area one-on-one services?</p>

        <p>We will charge a $600 flat fee for our one-on-one services per vehicle.</p> 

        <p>For those who only want the Telecommunications Services Package available with nationwide services, we will charge a $300 flat fee for those services</p>

      </div>
  </ion-content>
</ion-view>