<ion-view view-title="CarMe" font-color="Blue">
  <ion-content>
      <div class="boxed">
        <p>CarMe is the personal automotive shopping consulting firm here to help you determine which new car fits your personality and needs. Buying a car can be a difficult, time consuming and frustrating process. With our proven process, we can help you determine which vehicle to purchase, assist with locating, and negotiating the vehicle of your choice. For those of you within the Chicagoland area, we will meet with you one-on-one to test drive cars and assist you with your trade in vehicle. To learn more about our packages, please click on <a href="tab-Chicago.html">Chicagoland Packages</a> or <a href="tab-NationwidePackages.html">Nationwide Packages</a>.</p>
      </div>
  </ion-content>
</ion-view>
