<ion-view view-title="CarMe">
  <ion-content class="background_color">
      <div class="boxed">
        <img src="img/M4.png">

        <p>CarMe is the personal automotive shopping consulting firm here to help you determine which new car fits your personality and needs.</p>

        <p>Buying a car can be a difficult, time consuming and frustrating process. With our proven process, we can help you determine which vehicle to purchase, assist with locating, and negotiating the vehicle of your choice.</p>

        <p>For those of you within the Chicagoland area, we will meet with you one-on-one to test drive cars and assist you with your trade in vehicle. For those needing assistance across the nation, we will offer . To learn more about our packages, please click on the Chicagoland Packages or Nationwide Packages tabs below.</p>
      </div>
      <div class="legal" text-color="white">
      	<p>CarMe can not be held liable for dealership misrepresentation or warranty the purchase of the vehicle. Client is responsible for reading manufacturer warranty details.</p>
      </div>
  </ion-content>
</ion-view>
